@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body{
    font-size: 14px;
    width: 100%;
    height: 100%;
    //background: #1c1d22;
    font-family: "Varela Round", sans-serif;
    background-color: #081920;
    /* IE9, iOS 3.2+ */
    /*background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMxMjM1NDIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzA1MTExNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTAxIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzA1MTExNiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTE1OTk5OTk5OTk5OTk5OSIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    */background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(18, 53, 66)),color-stop(0.501, rgb(5, 17, 21)),color-stop(0.916, rgb(5, 17, 22)),color-stop(1, rgb(0, 0, 0)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(bottom right,rgb(18, 53, 66) -0.3%,rgb(5, 17, 21) 50.1%,rgb(5, 17, 22) 91.6%,rgb(0, 0, 0) 100%);
    /* IE10+ */
    background-image: linear-gradient(to top left,rgb(18, 53, 66) -0.3%,rgb(5, 17, 21) 50.1%,rgb(5, 17, 22) 91.6%,rgb(0, 0, 0) 100%);
    background-image: -ms-linear-gradient(bottom right,rgb(18, 53, 66) -0.3%,rgb(5, 17, 21) 50.1%,rgb(5, 17, 22) 91.6%,rgb(0, 0, 0) 100%);
}
.header{
    width: 100%;
    height: 100%;
    //background: #1c1d22;
    .wrap-header{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .navigation{
            padding-top: 15px;
            padding-bottom: 15px;
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-left: 25px;
                    a{
                        color: #fff;
                        font-size: 16px;
                        text-decoration: none;
                        transition: background-position-x 0.9s linear;
                        transition: all 0.45s;
                    }
                    &:hover a {
                        color:  #00ccff;
                        border-bottom: 1px  #3498db solid; 
                    }
                }
            }
        }
        .notifications{
            margin-left: auto;
            .icon-notifications{
                background: url(../img/bell.svg) center center no-repeat / contain;
                width: 25px;
                height: 25px;
                cursor: pointer;
                &:hover{
                    animation: bell .5s ease 0s infinite normal;
                }
            }
        }
    }
}
/*
.form{
    width: 50%;
    margin: 0 auto;
    .form-add{
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        border: 1px solid #000;
        padding: 25px 25px;
        margin-top: 25px;
        p{
            text-align: center;
        }
        label{
            margin-bottom: 10px;
            input{
                display: block;
            }
            .file{
                width: 300px;
            }
        }
        .btn{
            margin-top: 25px;
            padding: 10px 15px;
        }
        #Measured_parameter_from{
            display: inline-block;
            width: 50px;
        }
        #Measured_parameter_before{
            display: inline-block;
            width: 50px;
        }
        #Date_of_the_last_calibration_check{
            margin-left: 25px;
            width: 170px;
        }
        #Commissioning_date{
            width: 170px;
        }
        #Previous_calibration{
            width: 170px;
        }
        #Next_verification{
            width: 170px;
        }
    }
}
*/
.section-form{
    width: 70%;
    margin: 100px auto;
    .box{
        width: 100%;
        padding: 40px;
        background: #191919;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        h1{
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            grid-column: 1 / 5;
        }
        input[type = "text"],input[type = "number"],input[type = "search"],input[type = "file"],input[type = "date"]{
            border:0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }
        input[type = "date"]{
            grid-column: 2 / 4;
            width: 700px;
        }
        input[type = "file"]{
            width: 700px;
            grid-column: 2 / 4;
        }
        label{
            color: #fff;
            grid-column: 1 / 1;
            margin-top: 40px;
        }
        input[type = "text"]:focus,input[type = "number"],input[type = "search"]:focus{
            width: 280px;
            border-color: #2ecc71;
        }
        input[type = "submit"]{
            border:0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
            grid-column: 1 / 5;
            &:hover {
                background: #2ecc71;
            }
        }
    }
}

// Анимации 

//Анимация колокольчика 
@keyframes bell {
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        transform: rotate(0deg);
    }
    12%{
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg); 
        transform: rotate(15deg);
    }
    24%{
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg); 
        transform: rotate(30deg);
    }
    36%{
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg); 
        transform: rotate(15deg);
    }
    48%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        transform: rotate(0deg);
    }
    60%{
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg); 
        transform: rotate(-15deg);
    }
    72%{
        -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg); 
        transform: rotate(-30deg);
    }
    84%{
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg); 
        transform: rotate(-15deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        transform: rotate(00deg);
    }
}

@keyframes line {
    0% {
      background-position-x: 390px;
    }
  }