body{
    color: #000;
    font-size: 14px;
}
.header{
    width: 100%;
    height: 100%;
    background: #000;
    .wrap-header{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .navigation{
            padding-top: 15px;
            padding-bottom: 15px;
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-left: 25px;
                    a{
                        color: #fff;
                        font-size: 16px;
                        text-decoration: none;
                        &:hover{
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }
        }
        .notifications{
            margin-left: auto;
            .icon-notifications{
                background: url(../img/bell.svg) center center no-repeat / contain;
                width: 25px;
                height: 25px;
                cursor: pointer;
                &:hover{
                    animation: bell 1s ease 0s infinite alternate;
                }
            }
        }
    }
}

.info_sensor{
    width: 100%;
    .wrap-info_sensor{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 150px;
        h1{
            text-align: center;
        }
        .table{
            font-size: 18px;
            border: 1px solid #000;
            display: grid;
            grid-template-columns: 1fr 1fr;
            div{
                display: flex;
                justify-content: center;
                border: 1px solid #000;
                font-size: 18px;
                padding: 10px 15px;
            }
        }
    }
}