@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body{
    font-size: 14px;
    width: 100%;
    height: 100%;
    //background: #1c1d22;
    font-family: "Varela Round", sans-serif;
    background-color: #081920;
    /* IE9, iOS 3.2+ */
    /*background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMxMjM1NDIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzA1MTExNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTAxIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzA1MTExNiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTE1OTk5OTk5OTk5OTk5OSIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    */background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(18, 53, 66)),color-stop(0.501, rgb(5, 17, 21)),color-stop(0.916, rgb(5, 17, 22)),color-stop(1, rgb(0, 0, 0)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(bottom right,rgb(18, 53, 66) -0.3%,rgb(5, 17, 21) 50.1%,rgb(5, 17, 22) 91.6%,rgb(0, 0, 0) 100%);
    /* IE10+ */
    background-image: linear-gradient(to top left,rgb(18, 53, 66) -0.3%,rgb(5, 17, 21) 50.1%,rgb(5, 17, 22) 91.6%,rgb(0, 0, 0) 100%);
    background-image: -ms-linear-gradient(bottom right,rgb(18, 53, 66) -0.3%,rgb(5, 17, 21) 50.1%,rgb(5, 17, 22) 91.6%,rgb(0, 0, 0) 100%);
}
.header{
    width: 100%;
    height: 100%;
    //background: #1c1d22;
    .wrap-header{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .navigation{
            padding-top: 15px;
            padding-bottom: 15px;
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-left: 25px;
                    a{
                        color: #fff;
                        font-size: 16px;
                        text-decoration: none;
                        transition: background-position-x 0.9s linear;
                        transition: all 0.45s;
                    }
                    &:hover a {
                        color:  #00ccff;
                        border-bottom: 1px  #3498db solid; 
                    }
                }
            }
        }
        .notifications{
            margin-left: auto;
            .icon-notifications{
                background: url(../img/bell.svg) center center no-repeat / contain;
                width: 25px;
                height: 25px;
                cursor: pointer;
                &:hover{
                    animation: bell .5s ease 0s infinite normal;
                }
            }
            .window-notifications{
                display: none;
                //opacity: 0;
                position: absolute;
                top: 20%;
                left: 5%;
                width: 1200px;
                height: 500px;
                background-color: #081920;
                text-align: center;
                border-radius: 5%;
                transition: all .5s;
                color: #fff;
                .notifications-table{
                    width: 100%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr ;
                    div{
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
                .close{
                    border:0;
                    background: none;
                    display: block;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid #3498db;
                    padding: 14px 10px;
                    width: 200px;
                    outline: none;
                    color: white;
                    border-radius: 24px;
                    transition: 0.25s;
                    cursor: pointer;
                    &:hover{
                        border-color: #2ecc71;
                    }
                }
                .email{
                    border:0;
                    background: none;
                    display: block;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid #3498db;
                    padding: 14px 10px;
                    width: 200px;
                    outline: none;
                    color: white;
                    border-radius: 24px;
                    transition: 0.25s;
                    cursor: pointer;
                    &:hover{
                        border-color: #2ecc71;
                    }
                }
            }
        }
        .out{
            margin-left: auto;
            border:0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            text-decoration: none;
            &:hover {
                border-color: #2ecc71;
            }
        }
    }
}
/*.control{
    width: 350px;
    margin: 50px auto;
    .wrap-control{
        padding: 25px 25px;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label{
            input[type = "text"]{
                border:0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 2px solid #3498db;
                padding: 14px 10px;
                width: 200px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25s;
            }
        }
        .btn-seach{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .btn{
                padding: 5px 25px;
            }
        }
        #rangebegin{
            width: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        #rangeend{
            width: 30px;
            margin-left: 17px;
            margin-bottom: 10px;
        }
        #unitparameter{
            width: 70px;
            margin-left: 0px;
        }
    }
}
*/
.section-form{
    width: 30%;
    margin: 100px auto;
    .box{
        width: 300px;
        padding: 40px;
        background: #191919;
        text-align: center;
        h1{
            color: white;
            text-transform: uppercase;
            font-weight: 500;
        }
        input[type = "text"],input[type = "number"],input[type = "search"]{
            border:0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }
        input[type = "text"]:focus,input[type = "number"],input[type = "search"]:focus{
            width: 280px;
            border-color: #2ecc71;
        }
        input[type = "submit"]{
            border:0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
            &:hover {
                background: #2ecc71;
            }
        }
    }
}
.info{
    width: 100%;
    //border: 1px solid #000;
    //padding-bottom: 100px;
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    .first-str{
        -moz-border-radius-topleft:5px;
        -webkit-border-top-left-radius:5px; /* Saf3-4 */
        background-color: rgb(182, 209, 219);
        &:hover{
            background-color: rgb(182, 209, 219);
        }
        th{
            //border-left: 1px solid #000;
           // border-bottom: 1px solid #000;
            
        }
    }
    tr{
        &:hover{
            background-color: rgb(189, 185, 185);
        }
        th{
            font-size: 9px;
            //border-left: 1px solid #000;
            //border-bottom: 1px solid #000;
        }
        &:nth-child(even){
            font-size: 9px;
            background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
            background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
        }
    }
}
// Анимации 

//Анимация колокольчика 
@keyframes bell {
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        transform: rotate(0deg);
    }
    12%{
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg); 
        transform: rotate(15deg);
    }
    24%{
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg); 
        transform: rotate(30deg);
    }
    36%{
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg); 
        transform: rotate(15deg);
    }
    48%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        transform: rotate(0deg);
    }
    60%{
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg); 
        transform: rotate(-15deg);
    }
    72%{
        -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg); 
        transform: rotate(-30deg);
    }
    84%{
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg); 
        transform: rotate(-15deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        transform: rotate(00deg);
    }
}

@keyframes line {
    0% {
      background-position-x: 390px;
    }
  }