body{
    color: #000;
    font-size: 14px;
}
.header{
    width: 100%;
    height: 100%;
    background: #000;
    .wrap-header{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .navigation{
            padding-top: 15px;
            padding-bottom: 15px;
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-left: 25px;
                    a{
                        color: #fff;
                        font-size: 16px;
                        text-decoration: none;
                        &:hover{
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
            }
        }
        .notifications{
            margin-left: auto;
            .icon-notifications{
                background: url(../img/bell.svg) center center no-repeat / contain;
                width: 25px;
                height: 25px;
                cursor: pointer;
                &:hover{
                    animation: bell 1s ease 0s infinite alternate;
                }
            }
        }
    }
}

.control{
    width: 350px;
    margin: 50px auto;
    .wrap-control{
        padding: 25px 25px;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .btn-seach{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .btn{
                padding: 5px 25px;
            }
        }
        #rangebegin{
            width: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        #rangeend{
            width: 30px;
            margin-left: 17px;
            margin-bottom: 10px;
        }
        #unitparameter{
            width: 70px;
            margin-left: 0px;
        }
    }
}
.info{
    border: 1px solid #000;
    .first-str{
        &:hover{
            background-color: rgb(189, 185, 185);
        }
        th{
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
        }
    }
    tr{
        &:hover{
            background-color: rgb(189, 185, 185);
        }
        th{
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
        }
    }
}
// Анимации 

//Анимация колокольчика 
@keyframes bell {
    0%{
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg); 
        transform: rotate(15deg);
    }
    25%{
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg); 
        transform: rotate(30deg);
    }
    50%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg); 
        transform: rotate(0deg);
    }
    75%{
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg); 
        transform: rotate(-15deg);
    }
    100%{
        -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg); 
        transform: rotate(-30deg);
    }
}