@charset "UTF-8";
body{
    width: 80%;
    margin: 0 auto;
    height: 200vh;
}
table {
 
   }

.password {
    margin-top: 100px;
    width: 100%;
}
.password1 {
    margin-top: 100px;
    width: 100%;
}