body {
  color: #000;
  font-size: 14px; }

.header {
  width: 100%;
  height: 100%;
  background: #000; }
  .header .wrap-header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    .header .wrap-header .navigation {
      padding-top: 15px;
      padding-bottom: 15px; }
      .header .wrap-header .navigation ul {
        display: flex; }
        .header .wrap-header .navigation ul li {
          list-style: none;
          margin-left: 25px; }
          .header .wrap-header .navigation ul li a {
            color: #fff;
            font-size: 16px;
            text-decoration: none; }
            .header .wrap-header .navigation ul li a:hover {
              border-bottom: 1px solid #fff; }
    .header .wrap-header .notifications {
      margin-left: auto; }
      .header .wrap-header .notifications .icon-notifications {
        background: url(../img/bell.svg) center center no-repeat/contain;
        width: 25px;
        height: 25px;
        cursor: pointer; }
        .header .wrap-header .notifications .icon-notifications:hover {
          animation: bell 1s ease 0s infinite alternate; }

.control {
  width: 350px;
  margin: 50px auto; }
  .control .wrap-control {
    padding: 25px 25px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .control .wrap-control .btn-seach {
      display: flex;
      justify-content: center;
      margin-top: 20px; }
      .control .wrap-control .btn-seach .btn {
        padding: 5px 25px; }
    .control .wrap-control #rangebegin {
      width: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px; }
    .control .wrap-control #rangeend {
      width: 30px;
      margin-left: 17px;
      margin-bottom: 10px; }
    .control .wrap-control #unitparameter {
      width: 70px;
      margin-left: 0px; }

.info {
  border: 1px solid #000; }
  .info .first-str:hover {
    background-color: #bdb9b9; }
  .info .first-str th {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000; }
  .info tr:hover {
    background-color: #bdb9b9; }
  .info tr th {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000; }

@keyframes bell {
  0% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  25% {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  100% {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg); } }
